* {
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Roboto, Arial;
  position: relative;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 0 20px;
  width: fit-content;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #FAC036;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.title span {
  color: #FAC036;
}

.moves-container {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
}

.move-icon {
  height: 75px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.move-button:hover {
  border-color: #FAC036;
}

.move-button:active {
  box-shadow: 0 0 20px rgba(250, 192, 54, 0.3);
}

.result {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
}

.moves {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.score {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  border-top: 3px solid #FAC036;
  border-bottom: 3px solid #FAC036;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score span {
  color: #FAC036;
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: 3px solid white;
  font-size: 18px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding: 11px 22px;
  cursor: pointer;
  border-radius: 5px;
}

.reset-score-button:hover,
.auto-play-button:hover {
  border-color: #FAC036;
}

.reset-score-button:active,
.auto-play-button:active {
  box-shadow: 0 0 15px rgba(250, 192, 54, 0.3);
}

.reset-score-warning {
  background-color: transparent;
  color: white;
  font-family: Roboto, Arial;
  font-size: 18px;
  font-weight: 500;
  max-width: fit-content;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.warning-message {
  display: inline-block;
  margin-right: 10px;
}

.yes-reset-button,
.no-reset-button {
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}

.yes-reset-button:hover,
.no-reset-button:hover {
  border-color: #FAC036;
}

.yes-reset-button:active,
.no-reset-button:active {
  box-shadow: 0 0 10px rgba(250, 192, 54, 0.3);
}

.show-reset-warning {
  background-color: rgb(52, 52, 52);
}

/*The following code is specifically written for responsive design*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 28px;
    width: 265px;
    text-align: center;
  }

  .game {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .move-icon {
    height: 40px;
  }

  .move-button {
    width: 80px;
    height: 80px;
  }

  .result {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .moves {
    font-size: 20px;
  }

  .score {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .score-wins,
  .score-losses {
    margin-bottom: 5px;
  }

  .reset-score-button,
  .auto-play-button {
    font-size: 18px;
    padding: 3px 6px;
  }

  .reset-score-warning {
    font-size: 18px;
  }

  .yes-reset-button,
  .no-reset-button {
    padding: 4px 8px;
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600.02px) and (max-width: 768px) {
  .title {
    font-size: 40px;
    width: 385px;
    text-align: center;
  }

  .game {
    padding-top: 100px;
    padding-bottom: 15px;
  }

  .move-icon {
    height: 75px;
  }

  .move-button {
    width: 160px;
    height: 160px;
  }

  .result {
    font-size: 36px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .moves {
    font-size: 30px;
  }

  .score {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 13px;
    flex-direction: column;
    align-items: center;
  }

  .score-wins,
  .score-losses {
    margin-bottom: 5px;
  }

  .reset-score-button,
  .auto-play-button {
    font-size: 26px;
    padding: 8px 16px;
  }

  .reset-score-warning {
    font-size: 26px;
    margin-top: 15px;
  }

  .yes-reset-button,
  .no-reset-button {
    padding: 6px 12px;
    font-size: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768.02px) and (max-width: 992px) {
  .title {
    font-size: 54px;
    width: 510px;
    text-align: center;
  }

  .game {
    padding-top: 130px;
    padding-bottom: 15px;
  }

  .move-icon {
    height: 110px;
  }

  .move-button {
    width: 220px;
    height: 220px;
  }

  .result {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .moves {
    font-size: 40px;
  }

  .score {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 18px;
  }

  .score-wins,
  .score-losses {
    margin-bottom: 5px;
  }

  .action-buttons-container {
    column-gap: 16px;
  }

  .reset-score-button,
  .auto-play-button {
    font-size: 36px;
    padding: 9px 18px;
  }

  .reset-score-warning {
    font-size: 36px;
    margin-top: 15px;
  }

  .yes-reset-button,
  .no-reset-button {
    padding: 7px 14px;
    font-size: 34px;
  }

  .no-reset-button {
    margin-left: 8px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992.02px) and (max-width: 1200px) {
  .title {
    font-size: 92px;
    width: 900px;
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
    border-width: 6px;
  }

  .game {
    padding-top: 250px;
    padding-bottom: 15px;
    border-radius: 30px;
    border-width: 6px;
  }

  .move-icon {
    height: 150px;
  }

  .move-button {
    width: 300px;
    height: 300px;
    border-width: 6px;
  }

  .result {
    font-size: 68px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .moves {
    font-size: 64px;
  }

  .score {
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 30px;
    border-width: 6px;
  }

  .score-wins,
  .score-losses {
    margin-bottom: 5px;
  }

  .action-buttons-container {
    column-gap: 16px;
  }

  .reset-score-button,
  .auto-play-button {
    font-size: 60px;
    padding: 9px 18px;
    border-width: 6px;
    border-radius: 15px;
  }

  .reset-score-warning {
    font-size: 60px;
    margin-top: 40px;
    border-radius: 15px;
  }

  .yes-reset-button,
  .no-reset-button {
    padding: 7px 14px;
    font-size: 58px;
    border-width: 6px;
    border-radius: 15px;
  }

  .no-reset-button {
    margin-left: 8px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200.02px) /*and (max-width: 1920px)*/ {
  .title {
    font-size: 92px;
    width: 900px;
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
    border-width: 6px;
  }

  .game {
    padding-top: 250px;
    padding-bottom: 15px;
    border-radius: 30px;
    border-width: 6px;
  }

  .move-icon {
    height: 150px;
  }

  .move-button {
    width: 300px;
    height: 300px;
    border-width: 6px;
  }

  .result {
    font-size: 68px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .moves {
    font-size: 64px;
  }

  .score {
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 30px;
    border-width: 6px;
  }

  .score-wins,
  .score-losses {
    margin-bottom: 5px;
  }

  .action-buttons-container {
    column-gap: 16px;
  }

  .reset-score-button,
  .auto-play-button {
    font-size: 60px;
    padding: 9px 18px;
    border-width: 6px;
    border-radius: 15px;
  }

  .reset-score-warning {
    font-size: 60px;
    margin-top: 40px;
    border-radius: 15px;
  }

  .yes-reset-button,
  .no-reset-button {
    padding: 7px 14px;
    font-size: 58px;
    border-width: 6px;
    border-radius: 15px;
  }

  .no-reset-button {
    margin-left: 8px;
  }
}